:root {
  --pokemon-red: #ff0000;
  --pokemon-dkred: #cc0000;
  --pokemon-blue: #3b4cca;
  --pokemon-ltblue: #3d7dca;
  --pokemon-dkblue: #003a70;
  --pokemon-yellow: #fccb05;
  --pokemon-dkyellow: #b3a125;  
}

html, 
body {
  font-family: Arial, sans-serif;
}

.btn {
  width: 100%;
  border: 3px solid var(--pokemon-blue);
  border-radius: 4px;
  background-color: var(--pokemon-red);
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-variant: small-caps;
  color: black;
}

.btn:hover, .btn:focus {
  background-color: var(--pokemon-yellow);
  border: 5px solid var(--pokemon-ltblue);
  outline: 2px solid var(--pokemon-dkblue);
  color: var(--pokemon-dkblue);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-size: 18px;
  box-shadow: -4px 3px 0px var(--pokemon-dkblue);
}

.btn-secondary {
  width: 100px;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--pokemon-dkred);
}

.modal-body {
  text-align: center;
}

.navbar {
  justify-content: center;
  background-color: var(--pokemon-blue);
}

.navbar-brand {
  font-size: 25px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  padding: 1rem;
  list-style: none;
}

.pokemon-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-list button {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .pokemon-list {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 480px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
  .navbar {
    justify-content: left;
  }
}